/*.backgroudImage {
    background-image: url("https://mdn.mozillademos.org/files/7693/catfront.png");
    /*background-image: src="assets/img/rec3.png";
    background-color: transparent;
} */

.header {
    /* background: var(--background-gradient); */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    /* position: absolute;
     width: 1436px;
    height: 104px;
    left: 0px;
    top: 0px; */
    background: #000000;
}

.nav-font {
    font-family: Barlow;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
}

.nav-font :hover {
    color: #FFFF62;
}

.get {
    font-family: Barlow;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    height: 45px;
    margin: 10px 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.get:hover {
    background-color: #FFFF62;
    color: rgb(0, 0, 0);
}

.girl {
    position: absolute;
    width: 577px;
    height: 410px;
    left: 759px;
    top: 180px;
}

.font-text {
    position: absolute;
    width: 794px;
    height: 189px;
    left: 105px;
    top: 180px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 70px;
    /* or 87% */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-text2 {
    position: absolute;
    width: 891px;
    height: 89px;
    left: 97px;
    top: 262px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 70px;
    color: #FFFD7B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-text3 {
    position: absolute;
    width: 794px;
    height: 189px;
    left: 105px;
    top: 324px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 70px;
    /* or 87% */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fon-text4 {
    position: absolute;
    width: 699px;
    height: 90px;
    left: 105px;
    top: 414px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.button2 {
    /* font-family: Barlow;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    background-color: #FFFF62;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    height: 45px;
    margin: 10px 0px;
    padding-left: 5px;
    padding-right: 5px; */
    position: absolute;
    font-family: Barlow;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: 60px;
    left: 105px;
    top: 556px;
    border-radius: 7px;
    background-color: #FFFF62;
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
}

.buttonModal {
    right: 100px;
    position: absolute;
    font-family: Barlow;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    background-color: #FFFF62;
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
}

.font-text5 {
    position: absolute;
    width: 145px;
    height: 16px;
    left: 648px;
    top: 675px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.text {
    position: absolute;
    width: 1440px;
    height: 907px;
    left: 0px;
    top: 140px;
}

.textf {
    position: absolute;
    width: 1440px;
    height: 907px;
    left: 0px;
    top: 100px;
}

.buo {
    position: absolute;
    width: 586px;
    height: 419px;
    left: 105px;
    top: 250px;
}

.text1 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 809px;
    top: 120px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text2 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 809px;
    top: 300px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.buo2 {
    position: absolute;
    /*  width: 1440px;
    height: 419px; */
    left: 0px;
    top: 1700px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover
}

.t {
    position: absolute;
    width: 1085px;
    height: 94px;
    left: 105px;
    top: 1900px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.t1 {
    position: absolute;
    width: 1085px;
    height: 94px;
    left: 105px;
    top: 2000px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.buo3 {
    position: absolute;
    width: 586px;
    height: 419px;
    left: 105px;
    top: 1600px;
}

.buo4 {
    position: absolute;
    width: 586px;
    height: 378px;
    left: 750px;
    top: 2200px;
}

.buo5 {
    position: absolute;
    width: 586px;
    height: 419px;
    left: 105px;
    top: 2750px;
}

.buo6 {
    position: absolute;
    width: 586px;
    height: 378px;
    left: 750px;
    top: 3350px;
}

.text8 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 809px;
    top: 1450px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text9 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 809px;
    top: 1620px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text10 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 105px;
    top: 2050px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text11 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 105px;
    top: 2230px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text12 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 809px;
    top: 2600px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text13 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 809px;
    top: 2770px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text14 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 105px;
    top: 3200px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text15 {
    position: absolute;
    width: 527px;
    height: 414px;
    left: 105px;
    top: 3370px;
    font-family: Barlow;
    font-style: normal;
    /*font-weight: 900; */
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.header__img {
    width: 200px;
    margin: 40px 0 0 20px;
    /* Top Right Bottom Left */
}

.header__img {
    margin: 0 auto;
    padding-top: 0px;
}

.footer {
    align-items: center;
    height: 419px;
    position: static;
    background-color: #000000;
    color: white;
    width: 100%;
}

.fuenteFooter {
    position: absolute;
    width: 1085px;
    height: 56px;
    top: 98.53px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.fuenteFooter2 {
    position: absolute;
    top: 222.53px;
    align-items: center;
}

.ver {
    border-color: #f4721d;
    /*121e8680    ffc107*/
    background-color: #fff;
    /* ffc107 */
    color: #fa9350;
    /*0d8de2*/
    font-size: 14px;
    width: 150px;
    height: 50px;
    border-radius: 100%;
}

.ver:hover {
    border-color: #f4721d;
    background-color: #fa9350;
    /*1c77b3*/
    color: #fff;
}


/*.caja {
    display: inline-block;
    min-width: 100px;
}*/